.categoryButton {
  width: 6rem;
  padding: 10px 20px;
  border: 2px solid brown;
  border-radius: 20px;
  background-color: white;
  color: rgb(166, 41, 41);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categoryButton:hover {
  background-color: rgba(165, 42, 42, 0.822);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.categoryButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
